<div x-data="adminClient"
     @user-moved.window="refreshUsers(true);"
     @driver-moved.window="refreshUsers(true);"
     class="h-full">
    <div id="admin-map" class="h-full z-0">
        !ADMIN
    </div>

    <div class="absolute top-0 right-0 w-content max-h-1/2 border-t border-l border-gray-300 rounded-bl-md shadow-lg overflow-hidden z-10 bg-gray-100">
        <div @click="showControls = !showControls"
             class="top-0 right-0 text-right opacity-50 hover:opacity-100 cursor-pointer bg-gray-100 p-4 bg-transparent"
             :class="{'absolute': showControls}"
        >
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                 stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round"
                      d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
            </svg>

        </div>

        <div class="p-4" :class="{'hidden': !showControls}">
            <div class="flex flex-col xl:flex-row gap-2 w-full">
                {# users #}
                <section class="flex flex-col gap-y-3">
                    <header class="text-md font-semibold">Passengers</header>

                    <ul class="my-0 flex-1 flex flex-col gap-y-2">
                        <template x-for="user in users">
                            <li @click="selectUser(user.phone)"
                                class="bg-white rounded-md px-4 py-2 flex gap-4 justify-between hover:shadow-md cursor-pointer transition duration-300 group">
                                <div>
                                    <div x-text="TaxiUtils.formatPhone(user.phone)"
                                         class="text-gray-600 group-hover:text-black"></div>
                                    <div class="text-xs text-gray-500" x-text="user.status"></div>
                                </div>

                                <button @click.stop="removeUser(user.phone)"
                                        class="border border-red-500/50 hover:border-red-500 hover:bg-red-500 hover:text-white text-red-500 font-semibold py-2 px-4 rounded text-xs">
                                    X
                                </button>
                            </li>
                        </template>

                        <template x-if="users.length === 0">
                            <li class="bg-white rounded-md px-4 py-2 flex gap-4 justify-between">
                                <div>
                                    <div class="pr-[0.2rem]">No users registered in app</div>
                                    <div class="text-xs text-gray-500">Press "Add" to add new</div>
                                </div>
                            </li>
                        </template>
                    </ul>

                    <div class="flex flex-row gap-2 justify-start">
                        <button @click="addUser()"
                                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded text-xs">Add
                        </button>
                    </div>
                </section>

                {# drivers #}
                <section class="flex flex-col gap-y-3">
                    <header class="text-md font-semibold">Drivers</header>

                    <ul class="my-0 flex-1 flex flex-col gap-y-2">
                        <template x-for="driver in drivers">
                            <li @click="selectDriver(driver.phone)"
                                class="bg-white rounded-md px-4 py-2 flex gap-4 justify-between hover:shadow-md cursor-pointer transition duration-300 group">
                                <div>
                                    <div x-text="TaxiUtils.formatPhone(driver.phone)"
                                         class="text-gray-600 group-hover:text-black"></div>
                                    <div class="text-xs text-gray-500" x-text="driver.status"></div>
                                </div>

                                <button @click.stop="removeDriver(driver.phone)"
                                        class="border border-red-500/50 hover:border-red-500 hover:bg-red-500 hover:text-white text-red-500 font-semibold py-2 px-4 rounded text-xs">
                                    X
                                </button>
                            </li>
                        </template>

                        <template x-if="drivers.length === 0">
                            <li class="bg-white rounded-md px-4 py-2 flex gap-4 justify-between">
                                <div>
                                    <div class="pr-[0.2rem]">No drivers registered in app</div>
                                    <div class="text-xs text-gray-500">Press "Add" to add new</div>
                                </div>
                            </li>
                        </template>
                    </ul>

                    <div class="flex flex-row gap-2 justify-start">
                        <button @click="addDriver()"
                                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded text-xs">Add
                        </button>
                    </div>
                </section>
            </div>

            <hr class="my-4"/>

            {# notes #}
            <ul class="list-disc ml-6 list-outside text-sm text-gray-800 max-w-[425px]">
                <li>To <span class="font-semibold">login</span> as passenger or driver, click on the corresponding phone
                    number.
                </li>
                <li>Passenger and Driver sections work with their <span class="font-semibold">individual API keys</span>.
                </li>
            </ul>
        </div>
    </div>
</div>

<script>

</script>

<script>
  /*(function () {
    const carsLayer = L.layerGroup();

    var map = L.map('admin-map', {
      layers: [carsLayer],
    });
    const startLat = 46.43036;
    const startLng = 30.75487;

    const carIcon = L.divIcon({
      html: `<svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" viewBox="0 0 23.046 47.032"><path fill="#fff" d="M.717 8.34h21.892v34.282H.717z"/><path d="M17.402 0H5.643C2.526 0 0 3.467 0 6.584v34.804a5.644 5.644 0 0 0 5.643 5.644h11.759a5.645 5.645 0 0 0 5.644-5.644V6.584C23.044 3.467 20.518 0 17.402 0Zm4.655 14.188v11.665l-2.729.351v-4.806zm-1.432-3.415-2.219 8.51H4.638l-2.222-8.51c.001 0 8.884-3.018 18.209 0zM3.748 21.713v4.492l-2.73-.349V14.502Zm-2.73 16.225V27.579l2.73.343v8.196zm1.557 2.944 2.218-3.336h13.771l2.219 3.336zm16.753-5.077v-7.872l2.729-.355v10.048z"/></svg>`,
      className: "",
      iconSize: [24*0.6, 40*0.6],
      iconAnchor: [12, 40],
    });

    map.setView(new L.LatLng(startLat, startLng), 15);

    L.marker([startLat, startLng], { icon: carIcon }).addTo(carsLayer);

    // coordinates popup START
    const coordsPopup = L.popup();
    function onMapClick(e) {
      coordsPopup
        .setLatLng(e.latlng)
        .setContent(e.latlng.toString())
        .openOn(map);
    }
    map.on('click', onMapClick);
    // coordinates popup END

    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
      maxZoom: 19,
      attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);
  })();*/
</script>
