<div x-data="userClient"
     @user-selected.window="selectedPhone = $event.detail.phone"
     @user-removed.window="if ($event.detail.phone === selectedPhone) selectedPhone = null"
     class="relative h-full transition duration-300 ease-in-out"
     :class="{'opacity-25': !token && !selectedPhone, 'opacity-50': !token && !!selectedPhone}"
>
    <div class="h-full z-0" id="client-map"></div>

    <div x-show="token" :title="'lat:' + userLatLng[0] + ', lng: ' + userLatLng[1]" class="absolute top-4 right-4 px-4 py-2 z-10 bg-white rounded-lg flex gap-4">
        {{ source('icons/user-icon.svg.twig') }}

        <div class="flex flex-col justify-center gap-1">
            <div class="text-gray-500 text-xs font-semibold">Passenger:</div>
            <div class="text-gray-800 font-semibold text-sm " x-text="TaxiUtils.formatPhone(selectedPhone)"></div>
        </div>
    </div>

    <div x-show="token" class="absolute bottom-4 right-4 left-4 p-4 z-10 bg-white rounded-lg flex justify-between gap-3">
        <div class="flex gap-2 w-full">
            <div class="flex flex-col justify-around w-full">
                <div class="text-gray-500 text-sm">Address:</div>
                <div class="text-gray-800 font-semibold text-md">
                    <input aria-label="Address" type="text" x-model="address" class="w-full bg-transparent border-b border-gray-300 focus:border-gray-500 focus:outline-none" />
                </div>
            </div>

            <button @click="findAddress()" class="shrink-0 bg-blue-500 hover:bg-blue-700 text-white px-4 py-2 rounded-lg">
                {{ source('icons/find.svg.twig') }}
            </button>
        </div>

        <button class="bg-orange-600 hover:bg-orange-800 text-white px-4 py-2 rounded-lg flex gap-2 items-center">
            <span>Drive</span>

            {{ source('icons/start.svg.twig') }}
        </button>
    </div>
</div>
