{% extends 'base.html.twig' %}

{% block title %}Taxi Debug UI{% endblock %}

{% block body %}
    <div class="min-h-screen">
        <div class="grid grid-cols-2 md:grid-cols-3 min-h-screen">
            <div class="col-span-1 grid grid-rows-2 md:col-span-1">
                <div class="border-gray-500 border-b-2">
                    {% block client %}
                        Client
                    {% endblock %}
                </div>

                <div>
                    {% block driver %}
                        Driver
                    {% endblock %}
                </div>
            </div>

            <div class="relative col-span-1 md:col-span-2 border-gray-500 border-l-2">
                {% block admin %}
                    Admin
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
      window.TaxiConsts = {
        MAP_CENTER: [46.446374, 30.757221],
        MAP_ZOOM: 16,
        DEFAULT_USER_LAT_LNG: [46.446374, 30.757221],
        USER_ICON_URL: "{{ asset('assets/user-pin.png') }}",
        DRIVER_ICON_URL: "{{ asset('assets/driver-pin.png') }}",
      }
    </script>

    {{ parent() }}
{% endblock %}
